{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h1 class="card-title">Личный кабинет пользователя</h1>
            <img src="{{ user.userprofile.avatar.url }}" class="img-thumbnail mb-3" alt="Аватар пользователя">
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>О себе: {{ user.userprofile.bio }}</p>

            <a href="{% url 'edit_profile' %}" class="btn btn-outline-primary mt-3">Редактировать профиль</a>
        </div>
    </div>
{% endblock %}
