<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">  <!-- Подключение CSS-файла -->
</head>
<body>
    {% include 'users/navbar.html' %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
    </footer>
</body>
</html>
